/* heading */
h1{
    color: white;
    background-color: black;
    padding-left: 400px;
    border-radius: 20px 5px ;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* text */
.blue{
    color:rgb(13, 131, 160);
}
#red{
    color:red;
}
/* content */
.info{
    border:2px solid black;
    color:blue;
    padding-left: 100px;
    background-color: black;
    width: 400px;
    /* text-align: center; */
    box-shadow: 2px 3px 5px black;/*h-offset , v-offset , shadow spread , color */
}
nav{
    background-color: black;
    color: white;
}
/* greeting */
.xyz{
    background-color: black;
    color: brown;
    padding-left: 400px;
}
.submit{
    box-sizing: border-box;
}
.submit :hover{
   
    background-color: black;
    color: white;
}
