h1{
    color: white;
    background-color: black;
    padding-left: 400px;
    border-radius: 20px 5px ;
}
.blue{
    color:rgb(13, 131, 160);
}
#red{
    color:red;
}
.info{border:2px solid black;
    color:blue;
    padding-left: 100px;
    background-color: black;
}
nav{
    background-color: black;
    color: white;
}
.xyz{
    color: brown;
    padding-left: 400px;
}