h1{
    text-align: center;
    color: white;
}

body{
    background-color: rgb(81, 0, 157);
    /* background-image: linear-gradient(to right , rgb(19, 19, 171) , rgb(163, 2, 163)); */
}

/* #display{
    border: 2px solid black;
    padding-top: 10px;
    background-color: aliceblue;
    margin-top: 50px;
} */

#btn{
    margin-top: 10px;
    color: white;
    background-color: black;
}

#btn:hover{
    color: black;
    background-color: white;
}

#display{
    text-size-adjust: 80%;
}

#container{
    text-align: center;
}