body{
    background-color: aqua;
}
h1{
    color: red;
    font-size: 20px;
    text-align: center;
    border: 5px solid red; 
    border-radius: 9px; /* curves of the border */ 
    background-color: aliceblue;
    /* inside the border  */
    padding-top: 10px;
    padding-bottom: 10px;
    /* outside of the border  */
    margin-top: 10px;

}   
/* selecting the class  */
.test1{
    font-style: italic;
    font-size: 15px;
    /* visibility: hidden; */
}
/* selecting the id */
#test2{
    font-style: italic;
    font-size: 15px;
}
/* selecting span tag */
p span{
    color: blue;
    background-color: gold;
}
/* universal selector */
* { /* it selects besically every element in the HTML.*/
    /*my favourate font family generic */
    font-family: cursive;
}

.friend{
    /* center in image */    
    display: block; /*none , flex , block , inline , inline-block , table are some of its values */
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 140px;
}

.link{
    color: white;
    border: 2px solid red;
    background-color: brown;
    text-decoration: none;
}
/* mouseover effect */
.link:hover{
    background-color: red;
}